$white: #fff;
$black: #000;
$accent-color: #b61219;
$theme-text: #6b778c;
$theme-text-link: #3f4c60;
$theme-bg: #0c84e4;
$theme-text-inactive: #8797a2;
$theme-text-active: #3f4c60;
$lazy-load-modal-text: #424242;
