html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

* {
    outline: none;
    box-sizing: border-box;
}
