@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Slab|Roboto+Condensed|Open+Sans:400,600|Noto+Sans|Source+Sans+Pro|Lato:300,400");

$font-roboto: "Roboto", Helvetica, Arial, sans-serif;
$font-roboto-slab: "Roboto Slab", Helvetica, Arial, sans-serif;
$font-roboto-condensed: "Roboto Condensed", Helvetica, Arial, sans-serif;
$font-lato: "Lato", Helvetica, Arial, sans-serif;
$font-open-sans: "Open Sans", Helvetica, Arial, sans-serif;
$font-noto-sans: "Noto Sans", Helvetica, Arial, sans-serif;
$font-source-sans-pro: "Source Sans Pro", Helvetica, Arial, sans-serif;
